/* Reset */

html { /* etiqueta raíz */
    font-size: 62.5%;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }

html, body, ul, ol {
    margin: 0;
    padding: 0;
    border:0;
  }



body {
    font-family: 'Monserrat', sans-serif;
    overflow-x: hidden;
    font-size: 16px;
    background-color:burlywood;
  }







  