/*Variables*/


//*Inicio*//
$card-text:18px;
$card-color:red;
$card-weight:bold;


//*Caja texto Noticias*//

$fontbox-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
$fontbox-color: #da2626; 
$fontbox-font-size: 1.8rem; 
$fontbox-font-weight: 600; 
$fontbox-text-align: center; 
$fontbox-background: #000000; 
$fontbox-margin: 0 0 25px; 
$fontbox-overflow: auto; 
$fontbox-padding: 20px; 
$fontbox-border-radius: 10px 10px 25px 25px; 
$fontbox-border: 2px solid #5878ca;
$fontbox-justify-items:center;

//*Redes Sociales*//

$fa-facebook-f:rgb(0, 89, 255);
$fa-twitter:rgb(0, 162, 255);
$fa-instagram:rgb(255, 60, 0);





    